.ganar {
  position: absolute;
  font-size: 60px;
  padding: 16px;
  text-align: center;
  color:rgb(255, 255, 255);
  border: 2px rgb(8, 147, 112);
  box-shadow: 2px 2px 16px rgb(0, 255, 255);
  text-shadow: 4px 4px 16px rgb(2, 36, 28);
  margin: 20px;
  margin-top: 120px;
}

.intentos {
  position: relative;
  margin: 0;
  font-size: 96px;
  color:rgb(0, 255, 255);
}

.memo-fin {
  position: absolute;
  font-size: 200px;
  padding: 12px;
  text-align: center;
  color:rgb(8, 147, 112);
  border: solid 6px rgb(8, 147, 112);
  box-shadow: 2px 2px 6px rgb(4, 72, 56);
  text-shadow: 2px 2px 6px rgb(4, 72, 56);
  margin: 145px;
  opacity: 0.1;
  margin-top: 300px;
}

.jugar {
  position: absolute;
  outline: none;
  cursor: pointer;
  background: none;
  margin: 520px;
  margin-top: 420px;
  font-size: 32px;
  color: rgb(255, 255, 255);
  border: 2px rgb(8, 147, 112);
  box-shadow: 2px 2px 16px rgb(0, 255, 255);
  padding: 8px 8px;
  border-radius: 20%;
}