.main-f {
    display: flex;
    justify-content: space-around;
}

.end {
    position: absolute;
    text-align: center;
    font-size: 160px;
    color:rgb(8, 147, 112);
    padding: 12px;
    border: solid 6px rgb(8, 147, 112);
    margin: 0px;
    margin-top: 28%;
    text-shadow: 2px 2px 6px rgb(4, 72, 56);
    box-shadow: 2px 2px 6px rgb(4, 72, 56);
    opacity: 0.1;
}

.subtitle-f {
    position: absolute;
    text-align: center;
    padding: 16px;
}

.win {
    position: absolute;
    text-align: center;
    font-size: 45px;
    color:rgb(255, 255, 255);
    text-shadow: 4px 4px 16px rgb(2, 36, 28);
    border: 2px rgb(8, 147, 112);
    box-shadow: 2px 2px 16px rgb(0, 255, 255);
    margin-top: 8%;
}


.attempts {
    position: relative;
    font-size: 60px;
    color:rgb(0, 255, 255);
    margin: 0;
}

.click-f {
    position: absolute;
    outline: none;
    cursor: pointer;
    background: none;
    border-radius: 20%;
    color: rgb(255, 255, 255);
    padding: 8px;
  }

.new {
    font-size: 32px;
    color: rgb(255, 255, 255);
    background-color: rgb(40, 44, 52);
    border: 2px rgb(8, 147, 112);
    margin-top: 34%;
    box-shadow: 2px 2px 16px rgb(0, 255, 255);
}

.drupal {
    width: 120px;
    height: 120px;
    color: rgb(255, 255, 255);
    background-color: rgb(40, 44, 52);
    border: 2px;
    padding: 0x;
    justify-content: space-around;
    align-items: center;
    border-radius: 60px;
    outline: none;
    margin-top: 16%;
  }
  
  .gana-verde {  
    text-shadow: 2px 2px 24px rgb(0, 160, 64);
    box-shadow: 2px 2px 24px rgb(0, 160, 64);
  }
  
  .gana-naranja {
    text-shadow: 2px 2px 24px rgb(220, 90, 0);
    box-shadow: 2px 2px 24px rgb(220, 90, 0);
  }