.main-l-r {
    display: flex;
    justify-content: space-around;
}

.title-l-r {
    position: absolute;
    text-align: center;
    font-size: 160px;
    color:rgb(8, 147, 112);
    padding: 12px;
    border: solid 6px rgb(8, 147, 112);
    margin: 0px;
    margin-top: 28%;
}
  
.load {
    text-shadow: 6px 6px 12px rgb(4, 72, 56);
    box-shadow: 6px 6px 16px rgb(0, 255, 255);
    opacity: 0.4;     
}
  
.reset {  
    text-shadow: 6px 6px 12px rgb(56, 0, 0);
    box-shadow: 6px 6px 16px rgb(255, 0, 0);  
    opacity: 0.4;  
}

.main-sub {
    display: block;
    margin: 0%;
    margin-top: 0%;
}

.subtitle-l-r {
    position: absolute;
    text-align: center;
    padding: 16px;
}
  
.loading {
    position: relative;
    font-size: 80px;
    color:rgb(255, 255, 255);
    text-shadow: 6px 6px 16px rgb(2, 36, 28);
    border: 2px rgb(8, 147, 112);
    box-shadow: 6px 6px 16px rgb(0, 255, 255);
    margin-top: 12%;
}


samp {
    font-size: 80px;
    opacity: 1;
}

.updating {
    color:rgb(0, 255, 255);
}

.refresh {
    position: relative;
    font-size: 60px;
    color:rgb(255, 0, 0);
    text-shadow: 6px 6px 16px rgb(28, 0, 0);
    border: 2px rgb(112, 0, 0);
    box-shadow: 6px 6px 16px rgb(112, 0, 0);
    margin-top: 8%;
}


.wait {
    color:rgb(255, 0, 0);
}

.resetting {
    width: 78px;
    height: 78px;
    padding: 6px;
    color: rgb(60, 0, 0);
    text-shadow: 6px 6px 12px rgb(240, 0, 0);
    border: 10px solid rgb(60, 0, 0);
    box-shadow: 6px 6px 16px rgb(124, 124, 124);
    background-color: rgb(120, 0, 0);
    margin-top: 8%;
}