.main {
  display: flex;
  justify-content: space-around;
}

/* TITULOS */

.title {
  position: absolute;
  text-align: center;
  font-size: 160px;
  color:rgb(8, 147, 112);
  padding: 12px;
  border: solid 6px rgb(8, 147, 112);
  margin: 0px;
  margin-top: 28%;
}

.memo-test {
  font-size: 140px;
  text-shadow: 2px 2px 6px rgb(4, 72, 56);
  box-shadow: 2px 2px 6px rgb(4, 72, 56);
}

.load {
  text-shadow: 6px 6px 12px rgb(4, 72, 56);
  box-shadow: 6px 6px 16px rgb(0, 255, 255);
  opacity: 0.4;  
}

.reset {  
  text-shadow: 6px 6px 12px rgb(56, 0, 0);
  box-shadow: 6px 6px 16px rgb(255, 0, 0);  
  opacity: 0.4;  
}

.end {
  text-shadow: 2px 2px 6px rgb(4, 72, 56);
  box-shadow: 2px 2px 6px rgb(4, 72, 56);
  opacity: 0.1;
}


/* SUBTITULOS */

.main-sub {
  display: flex;
  text-align: left;
  margin: 0%;
  margin-top: 2%;
}

.subtitle {
  position: absolute;
  text-align: center;
  padding: 16px;
}

.loading {
  position: relative;
  font-size: 70px;
  color:rgb(255, 255, 255);
  text-shadow: 6px 6px 16px rgb(2, 36, 28);
  border: 2px rgb(8, 147, 112);
  box-shadow: 6px 6px 16px rgb(0, 255, 255);
  margin-top: 26%;
  margin-left: 40px;
}

samp {
  font-size: 80px;
  opacity: 1;
}

.updating {
  color:rgb(0, 255, 255);
}

.refresh {
  position: relative;
  font-size: 60px;
  color:rgb(255, 0, 0);
  text-shadow: 6px 6px 16px rgb(28, 0, 0);
  border: 2px rgb(112, 0, 0);
  box-shadow: 6px 6px 16px rgb(112, 0, 0);
  margin-top: 24%;
  margin-left: 40px;
}

.wait {
  color:rgb(255, 0, 0);
}

.win {
  position: absolute;
  text-align: center;
  font-size: 45px;
  color:rgb(255, 255, 255);
  text-shadow: 4px 4px 16px rgb(2, 36, 28);
  border: 2px rgb(8, 147, 112);
  box-shadow: 2px 2px 16px rgb(0, 255, 255);
  margin-top: 8%;
}

.attempts {
  position: relative;
  font-size: 60px;
  color:rgb(0, 255, 255);
  margin: 0;  
}

/* BOTOTES */

.click {
  position: absolute;
  outline: none;
  cursor: pointer;
  background: none;
  border-radius: 20%;
  color: rgb(255, 255, 255);
  padding: 8px;
}

.start {
  font-size: 72px;
  background-color: rgb(0, 36, 72);
  text-shadow: 2px 2px 8px rgb(0, 12, 24);
  border: 2px rgb(8, 147, 112);
  box-shadow: 2px 2px 16px rgb(124, 124, 124);
  margin-top: 4%;
}

.new {
  font-size: 32px;
  border: 2px rgb(8, 147, 112);
  margin-top: 34%;
  box-shadow: 2px 2px 16px rgb(0, 255, 255);
}

a {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95px;
  height: 95px;
  border-radius: 20px;
  margin: 150px;
}

.icon {
  color: rgb(0, 18, 60);  
  text-shadow: 6px 6px 12px rgb(0, 96, 240);
  border: 8px solid rgb(0, 18, 60);
  box-shadow: 6px 6px 16px rgb(124, 124, 124);  
  background-color: rgb(0, 48, 120);
  margin-left: -106px;
}


.resetting {
  color: rgb(60, 0, 0);
  text-shadow: 6px 6px 12px rgb(240, 0, 0);
  border: 8px solid rgb(60, 0, 0);
  box-shadow: 6px 6px 16px rgb(124, 124, 124);
  background-color: rgb(120, 0, 0);
  margin-left: -106px;
}


.contenedor {
  position: absolute;
  justify-content: space-between;
  display: flex;
  margin-top: 14%;
}

.play {
  position: relative;
  width: 115px;
  height: 115px;
  margin: 30px;
  display: flex;
  padding: 0x;
  justify-content: space-around;
  align-items: center;
  border-radius: 50px;
  cursor: pointer;
}

.one {
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px 16px rgb(0, 255, 255);
  background-color: rgb(40, 44, 52);
  border: 2px rgb(8, 147, 112);
  box-shadow: 2px 2px 16px rgb(0, 255, 255);
  outline: none;
}

.two {
  color: rgb(255, 255, 255);  
  background-color: rgb(40, 44, 52);
  border: 2px rgb(8, 147, 112);
  box-shadow: 2px 2px 16px rgb(0, 255, 255);
  outline: none;
}

.a {
  text-shadow: 2px 2px 8px rgb(0, 160, 64);
}

.b {
  text-shadow: 2px 2px 8px rgb(220, 90, 0);
}