.principal {
  display: flex;
}

.separador {
  margin-right: 60px;
  margin-left: -60px;
  width: 10px;
  height: 100%;
  background-color: rgb(75, 76, 76);
  box-shadow: 2px 2px 6px rgb(150, 151, 151);
  border: 0px solid;
  opacity: 0.5;
}

.fichas {
  position: relative;
  margin-left: 125px;
  margin-right: 115px;
}

.elementos {
  display: flex;
  flex-direction: column;
}

.juego {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.contador {
  position: absolute;
  font-size: 22px;
  padding: 6px;
  text-align: center;
  color:rgb(255, 255, 255);
  border: 2px rgb(8, 147, 112);
  box-shadow: 2px 2px 12px rgb(0, 255, 255);
  margin: 96px;
  margin-top: 36px;
}

span {
  color:rgb(0, 255, 255);
  font-size: 32px;
}

.memo-tablero {
  position: absolute;
  writing-mode: vertical-rl;
  margin: 90px;
  margin-top: 12%;
  font-size: 90px;
  padding: 12px;
  text-align: center;
  color:rgb(8, 147, 112);
  border: solid 6px rgb(8, 147, 112);
  box-shadow: 2px 2px 6px rgb(4, 72, 56);
  text-shadow: 2px 2px 6px rgb(4, 72, 56);
}

.reiniciar {
  position: absolute;
  outline: none;
  cursor: pointer;
  background: rgb(0, 18, 14);
  font-size: 18px;
  font: bolder;
  color: rgb(255, 255, 255);
  opacity: 0.4;
  border: 2px rgb(8, 147, 112);
  box-shadow: 0px 0px 8px rgb(255, 20, 20);
  padding: 5px;
  border-radius: 10%;
  margin: 98px;
  margin-top: 110px;
}